body{ 
    background-color: rgb(128, 131, 93);
    width: 100%;
}

p{
    text-align: justify;
    width: 90%;
    padding-left: 5%;
}

h2{
    text-align: center;
}

#lap{
    background-color:white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#fejlec{
    background-color: khaki;
    color: black;
}

#szoveg{
    text-align: right;
    width: 300px;
}

#kep{
    text-align: center;
    
}
#cim{
    text-align: left;
    width: 150px;
}
#szoveg2{
    text-align: left;
    width: 300px;
}
a{
  text-decoration:none;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: brown;
}
a:active {
  color: black;
}


